export RYSTAL_SHELL_CONFIG_DIR="$PWD/.dev/config"
export RYSTAL_SHELL_DATA_DIR="$PWD"
export RYSTAL_SHELL_INSTANCE="rystal-shell-dev"
export RYPRLAND_CACHE_DIR="$PWD/.dev/cache"
export RYPRLAND_STATE_DIR="$PWD/.dev/state"
export RYPRLAND_RUNTIME_DIR="$PWD/.dev/runtime"

PATH_add node_modules/.bin
