repo_dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd -P)"
dev_dir="$repo_dir/.dev"

export RYSTAL_SHELL_CONFIG_DIR="$dev_dir/config"
export RYSTAL_SHELL_DATA_DIR="$repo_dir"
export RYSTAL_SHELL_INSTANCE="rystal-shell-dev"
export RYSTAL_SHELL_CACHE_DIR="$dev_dir/cache"
export RYSTAL_SHELL_STATE_DIR="$dev_dir/state"
export RYSTAL_SHELL_RUNTIME_DIR="$dev_dir/runtime"

PATH_add node_modules/.bin
